@use '../sass/abstracts/mixin.scss' as mixin;

.current-page {
    padding: 0 1em;
}

.page {
    max-width: 850px;
    margin: auto;
    min-height: 650px;

    &.front {

        display: grid;
        grid-template-columns: 4fr 3fr;
        gap: 1em;
        margin-inline: 1em;
        max-width: none;

        @include mixin.xl {
            display: block;
        }

        @include mixin.sm {
            margin: 0;
        }


        .portrait {
            display: flex;
            height: fit-content;

            img {                
                margin: 1em auto;
                max-width: 545px;
                aspect-ratio:initial;
            }
        }
        

    }

    &.contact {

        display: grid;
        grid-template-columns: 4fr 3fr;
        max-width: none;
    
        .contact-text {
            margin-block: 2em;
            margin-inline: 1em;
            max-width: 400px;

            @include mixin.md {
                margin-inline: 0;
            }
        }

    }
    
    .custom-li {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .underline {
        box-shadow: 0 3px 3px -3px black;
    }
}