@use './abstracts/mixin.scss' as mixin;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    margin: 2em auto;
    padding: 0 5%;

    @include mixin.xl {
      padding: 0 1em;
    }

    max-width: 1400px;
    height: 100%;
}