.page-selection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #990000;
    padding: .5em 1em;
    border-radius: .5em;

    > div {
        color: white;
        padding: 0.75em;
        border-radius: .3em;
        cursor: pointer;

        &:hover {
            color: black;
            background-color: white;
        }
    }
}

.current-page {
    padding: 0 1em;
}

.page {
    max-width: 850px;
    margin: auto;

    .custom-li {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.split-page {
    display: grid;
    grid-template-columns: 4fr 3fr;
    gap: 1em;
    margin: 0 1em;

    .contact {
        margin: 2em 0;
    }

    .portrait {
        margin: 1em 0;
    }
}